<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Nuovo Giocatore</title>
</head>

<body>

    <h1>Inserisci un nuovo giocatore</h1>

    <form th:action="${giocatore.id == null} ? @{/giocatori} : @{'/giocatori/' + ${giocatore.id}}"
      th:object="${giocatore}"
      method="post">

        <div>
            <label>Nome:</label>
            <input type="text" th:field="*{nome}">
        </div>

        <div>
            <label>Cognome:</label>
            <input type="text" th:field="*{cognome}">
        </div>

        <div>
            <label>Ruolo:</label>
            <input type="text" th:field="*{ruolo}">
        </div>

        <div>
    <label>Data di nascita:</label>
    <input type="date" th:field="*{dataNascita}">
</div>

        <div>
            <label>Altezza:</label>
            <input type="number" step="0.01" th:field="*{altezza}">
        </div>

        <div>
    <label>Squadra:</label>
    <select th:field="*{squadra}">
        <option th:each="squadra : ${squadre}"
                th:value="${squadra.id}"
                th:text="${squadra.nome}">
        </option>
    </select>
</div>

        <button type="submit">Salva</button>

    </form>

</body>
</html>