<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Registrazione</title>
</head>

<body>

    <h1>Registrazione utente</h1>

    <form th:action="@{/registrazione}" th:object="${utente}" method="post">

        <div>
            <label>Username:</label>
            <input type="text" th:field="*{username}">
        </div>

        <div>
            <label>Password:</label>
            <input type="password" th:field="*{password}">
        </div>

        <button type="submit">Registrati</button>

    </form>

</body>
</html>