<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Squadra</title>
    <link rel="stylesheet" th:href="@{/css/style.css?v=3}">
</head>

<body>

<div th:replace="~{fragments/header :: navbar}"></div>

<h1>
    <i class="fa-solid fa-shield-halved page-title-icon"></i>
    <span th:text="${squadra.id == null} ? 'Inserisci una nuova squadra' : 'Modifica squadra'"></span>
</h1>

<form th:action="${squadra.id == null} ? @{/squadre} : @{'/squadre/' + ${squadra.id}}"
      th:object="${squadra}"
      method="post">

    <label>Nome:</label>
    <input type="text" th:field="*{nome}">
    <p class="error" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></p>

    <label>Anno di fondazione:</label>
    <input type="number" th:field="*{annoFondazione}">
    <p class="error" th:if="${#fields.hasErrors('annoFondazione')}" th:errors="*{annoFondazione}"></p>

    <label>Città:</label>
    <input type="text" th:field="*{citta}">
    <p class="error" th:if="${#fields.hasErrors('citta')}" th:errors="*{citta}"></p>

    <button type="submit">Salva</button>

</form>

</body>
</html>