<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Nuovo Arbitro</title>
    <link rel="stylesheet" th:href="@{/css/style.css?v=2}">
</head>

<body>

<div th:replace="~{fragments/header :: navbar}"></div>

<h1>🟨 Inserisci un nuovo arbitro</h1>

<form th:action="${arbitro.id == null} ? @{/arbitri} : @{'/arbitri/' + ${arbitro.id}}"
      th:object="${arbitro}"
      method="post"
      enctype="multipart/form-data">

    <div>
        <label>Nome:</label>
        <input type="text" th:field="*{nome}">
    </div>

    <div>
        <label>Cognome:</label>
        <input type="text" th:field="*{cognome}">
    </div>

    <div>
        <label>Codice arbitrale:</label>
        <input type="text" th:field="*{codiceArbitrale}">
    </div>

    <div>
        <label>Foto arbitro:</label>
        <input type="file" name="fileFoto" accept="image/*">
    </div>

    <button type="submit">Salva</button>

</form>

</body>
</html>