<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Torneo</title>
    <link rel="stylesheet" th:href="@{/css/style.css?v=3}">
</head>

<body>

<div th:replace="~{fragments/header :: navbar}"></div>

<h1>
    <i class="fa-solid fa-trophy page-title-icon"></i>
    <span th:text="${torneo.id == null} ? 'Inserisci un nuovo torneo' : 'Modifica torneo'"></span>
</h1>

<form th:action="${torneo.id == null} ? @{/tornei} : @{'/tornei/' + ${torneo.id}}"
      th:object="${torneo}"
      method="post">

    <label>Nome:</label>
    <input type="text" th:field="*{nome}">
    <p class="error" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></p>

    <label>Anno:</label>
    <input type="number" th:field="*{anno}">
    <p class="error" th:if="${#fields.hasErrors('anno')}" th:errors="*{anno}"></p>

    <label>Descrizione:</label>
    <input type="text" th:field="*{descrizione}">
    <p class="error" th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></p>

    <label>Squadre partecipanti:</label>
    <select multiple th:field="*{squadre}">
        <option th:each="squadra : ${squadre}"
                th:value="${squadra.id}"
                th:text="${squadra.nome}">
        </option>
    </select>

    <button type="submit">Salva</button>

</form>

</body>
</html>