<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Arbitri</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

    <nav>
        <a th:href="@{/tornei}">Tornei</a>
        |
        <a th:href="@{/squadre}">Squadre</a>
        |
        <a th:href="@{/giocatori}">Giocatori</a>
        |
        <a th:href="@{/partite}">Partite</a>
        |
        <a th:href="@{/arbitri}">Arbitri</a>
        |
        <a th:href="@{/utenti}">Utenti</a>
        |
        <a th:href="@{/registrazione}">Registrazione</a>
    </nav>

    <br><br>

    <a th:href="@{/arbitri/new}">Aggiungi nuovo arbitro</a>

    <h1>Elenco arbitri</h1>

    <ul>
        <li th:each="arbitro : ${arbitri}">
            <span th:text="${arbitro.nome}">Nome</span>
            <span th:text="${arbitro.cognome}">Cognome</span>
        </li>
    </ul>

</body>
<a href="/" class="logo-link">
    <span class="logo-emoji">⚽</span>
</a>
</html>