<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nuovo Torneo</title>
    <link rel="stylesheet" th:href="@{/css/style.css?v=2}">
</head>
<body>

<h1>Inserisci un nuovo torneo</h1>

<form th:action="${torneo.id == null} ? @{/tornei} : @{'/tornei/' + ${torneo.id}}"
      th:object="${torneo}" method="post">

    <div>
        <label>Nome:</label>
        <input type="text" th:field="*{nome}">
        <div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
    </div>

    <div>
        <label>Anno:</label>
        <input type="number" th:field="*{anno}">
        <div th:if="${#fields.hasErrors('anno')}" th:errors="*{anno}"></div>
    </div>

    <div>
        <label>Descrizione:</label>
        <input type="text" th:field="*{descrizione}">
        <div th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></div>
    </div>

    <div>
        <label>Squadre partecipanti:</label>
        <select multiple th:field="*{squadre}">
            <option th:each="squadra : ${squadre}"
                    th:value="${squadra.id}"
                    th:text="${squadra.nome}">
            </option>
        </select>
    </div>

    <button type="submit">Salva</button>
</form>


</body>
</html>