<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Arbitri</title>
    <link rel="stylesheet" th:href="@{/css/style.css?v=2}">
</head>

<body>

<div th:replace="~{fragments/header :: navbar}"></div>

<h1>🟨 Elenco arbitri</h1>

<a class="action-button blue" th:href="@{/arbitri/new}">
    ➕ Aggiungi nuovo arbitro
</a>

<ul class="player-list">
    <li th:each="arbitro : ${arbitri}" class="player-list-item">

        <img th:if="${arbitro.foto != null}"
             th:src="@{${arbitro.foto}}"
             class="player-list-photo"
             alt="Foto arbitro">

        <div th:if="${arbitro.foto == null}" class="player-list-avatar">
            🟨
        </div>

        <div>
            <a th:href="@{'/arbitri/' + ${arbitro.id}}">
                <strong>
                    <span th:text="${arbitro.nome}">Nome</span>
                    <span th:text="${arbitro.cognome}">Cognome</span>
                </strong>
            </a>

            <p>
                Codice arbitrale:
                <span th:text="${arbitro.codiceArbitrale}">Codice</span>
            </p>
        </div>

    </li>
</ul>

</body>
</html>